<h1>New User</h1>
<%= form_for :user do |t| %>
	First Name:<br><%= t.text_field :FirstName %><br>
	Last Name:<br><%= t.text_field :LastName %><br>
	Email ID:<br><%= t.text_field :Email %><br>
	Password:<br><%= t.password_field :password %><br>
	Confirm Password:<br><%= t.password_field :password_confirmation %><br>
	<%= t.submit "submit" %>
<% end %>

